.CTALarge {
    width: 100%;
    background: #095CFF;
    height: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
  }

.top {
    display: flex;
    justify-content: space-between;
}

.ctaflex {
    display: flex;
    align-items: center;
}

.ctaflex>* {
    margin-left: 0.5em;
}

.cta {
    color: #fff;
    font-size: 1em;
}

.descriptionhold {
    width: 300px;
}