.footerhold {
    padding-left: 8.33%;
    padding-right: 8.33%;
    padding-top: 2em;
    display: grid;
    grid-template-columns: auto 180px 180px 180px 180px;
    font-size: 0.8em;
    padding-bottom: 4em;
}

.footerhold>div {
    display: flex;
    flex-direction: column;
}

.footerlink {
    text-decoration: none;
    margin-bottom: 1em;
    text-align: right;
}

@media screen and (max-width: 900px) {
    .footerhold {
        grid-template-columns: 1fr;
        width: 100vw;
    }
}