
.navBar {
    background: #fff;
    display: grid;
    grid-template-columns: 270px auto;
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0px; 
    align-items: center;
    padding-left: 8.33%;
    padding-right: 8.33%;
    justify-content: 'space-between';
  }

.directory {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
}

.logoHold {
  margin-left: -40px;
  width: 140px;
  height: 140px;
}

.logoHoldMobile {
  margin-left: 0px;
  padding: 1em;
}

.logoHold:hover {
  cursor: pointer;
}
.navBox {
  display: flex;
}

.linkshow {
  text-decoration: none;
  color: black;
}

.holdFlex {
  display: flex;
  align-items: center;
}

.navBox>* {
  margin-left: 4em;
}

.languageBox {
  align-items: center;
}

.dropdown {
  background: none;
  border: none;
  color: #8C8C8C;
  font-size: 1em;
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

.mobileNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  display: none;
  background: #fff;
}

.hamburgerHold {
  margin: 1em;
  border: none;
  background: none;
}

.displayMenu {
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  top: 0;
  right: 0;
  background: #fff;
  border-left: 1px solid #EFEFEF;
}

.menuHold {
  display: flex;
  justify-content: space-between;
  height: 73px;
  align-items: center;
  width: 250px;
}

.padbox {
  padding: 1em;
}

.padbox>div {
  padding-bottom: 1em;
}

.buttonHold {
  padding: 1em;
}

.buttonLink {
  color: white;
  text-decoration: none;
}

.logo {
  height: 31px;
  margin: 0.8em;
  margin-left: 0;
}

.blue {
  color: #0258FF;
}

@media only screen and (max-width: 960px) {
  .mobileNavBar {
    display: flex;
    align-content: space-between;
  }

  .navBar {
    display: none;
  }


}
