/*generalized layout*/

#mainhold {
  width: 100%;
  min-height: 80vh;
  margin-top: 150px;
}

main {
  margin-top: 81px;
}

section {
  margin-top: 6em;
}

.marginset {
  margin-bottom: 2.6em;
}

.grid12 {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

table {
  border: 1px solid var(--frame);
  border-collapse: collapse;
  color: var(--steel);
  font-family: 'PublicSans';
}

th {
  border: 1px solid var(--frame);
  padding: 0.5em;
  text-align: left;
}

tr {
  border: 1px solid var(--frame);
}

td {
  border: 1px solid var(--frame);
  padding: 0em 0.5em 0em 0.5em ;
}

ol {
  color: var(--steel);
  margin-left: 1em;
}

ul {
  color: var(--steel);
  margin-left: 1em;
}

@media screen and (max-width: 900px) {
  #mainhold {
    margin-top: 80px;
  }

  .grid12 {
    display: block;
  }
}

  /* Code blocks */
  pre[class*="language-"],
  :not(pre) > code[class*="language-"] {
      background: var(--frame);
  }

  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: none;
    border-radius: 8px;
    box-shadow: none;
}

pre {
  background: var(--frame);
  padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: none;
    border-radius: 8px;
    box-shadow: none;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    border-radius: 8px;
    white-space: normal;
    padding: 1em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #ACACAC;
}

.token.punctuation {
    opacity: .7;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: var(--steel);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: var(--primary);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: var(--groto);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: var(--royal);
}

.token.regex,
.token.important {
    color: var(--groto);
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.deleted {
    color: red;
}


/*Index*/

 .indexMainHold {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4em;
 }

 .indexHeadlineHold {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
 }

 .indexWritingHold {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
 }

 .indexImgHold {
  overflow: hidden;
  grid-area: 1 / 7 / 2 / 12;
  width: 100%;
  height: 600px;
 }

 .indexAHold {
  grid-area: 1 / 2 / 2 / 6;
 }

 .indexWritingTimeHold {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 4em;
 }

 @media screen and (max-width: 900px) {
  .indexHeadlineHold {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
  }

  .indexMainHold {
    margin-bottom: 0em;
   }

  .indexWritingHold {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
  }

  .indexImgHold {
    height: 50vh;
    margin-bottom: 1em;
    grid-area: 1 / 1 / 2 / 1;
  }

  .indexAHold {
    grid-area: 2 / 1 / 3 / 1;
   }

   .indexWritingTimeHold {
    display: block;
   }
 }

 /*uses*/

.useGrid {
  margin-top: 1em;
  margin-bottom: 4em;
}

 /*community*/

 .communityGridHold {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6em;
  width: 100%;
  padding-left: 8.25%;
  padding-right: 8.25%;
} 

.communityTopGrid {
  grid-area : 1 / 2 / 1 / 6;
}

.communitySideGrid {
  grid-area: 1 / 8 / 1 / 11;
  align-self: center;
}

.communityProfileHold {
  width: 100%;
  margin-top: 4em;
}

@media screen and (max-width: 900px) {
  .communityGridHold {
    display: block;
    padding-left: 1em;
    padding-right: 1em;
  } 

  .communityTopGrid {
    padding: 0em 1em 0em 1em;
  }

  .communitySideGrid {
    padding: 1em 1em 0em 1em;
  }

  .communityProfileHold {
    padding: 0em;
  }
}


.writingHold>li {
  margin-bottom: 2em;
  list-style-type: none;
}

.writingDetails {
  display: flex;
}

.writingDetails>* {
  margin-right: 1em;
}

.imghold {
  grid-area: 1 / 2 / 2 / 12;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background: var(--firmament);
}

.titleGrid {
  grid-area: 1 / 5 / 2 / 9;
  padding-right: 2em;
  align-self: end;
}

#writingTopMargin {
  margin-top: 4em;
}

.writingGridHold {
  grid-area: 1 / 5 / 2 / 6;
  padding-right: 2em;
  min-width: 680px;
}

.headimg {
  width: 100%;
  background-blend-mode: multiply;
}

.linkHold {
  border-radius: 8px;
  background: #fff;
}

.sentenceWrap {
  padding: 0.8em;
  border: 1px solid var(--frame);
  border-radius: 0.5em;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow .3s;
}

.sentenceWrap:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.sticky {
  width: 280px;
  padding-bottom: 2em;
  position: -webkit-sticky;
  position: sticky;
  top: 140px;
  height: 200px;
  margin-bottom: -60px;
  grid-area: 1 / 2 / 2 / 4;
}

.sideCTA {
  width: 280px;
  padding-bottom: 2em;
  padding-top: 81px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 200px;
  background: white;
  margin-bottom: -60px;
  grid-area: 1 / 2 / 2 / 4;
}

.appearance {
  animation-name: ease;
  opacity: 1;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

.sentenceHold {
  position: absolute;
  margin-top: -340px;
  margin-left: -130px;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.textm {
  margin-top: 1.2em;
  font-size: 1.1em;
  line-height: 160%;
  font-family: "LibreBaskerville", serif;
}

.textm>* {
  margin-bottom: 1em;
  line-height: 2.2em;
}

.textm>p>img {
  width: 100%;
}

.textm>table>tbody>tr>td>img {
  width: 100%;
}

.noUnderline {
  text-decoration: none;
}

.noUnderline:hover {
  cursor: pointer;
}

.sideQuote {
  color: var(--primary);
  float: right;
  clear: right;
  margin-right: -310px;
  font-size: 0.8em;
  font-family: "publicSans", sans-serif;
  padding: 0.2em;
  line-height: 1.5em;
  width: 280px;
}

.build {
  font-size: 2.5em;
  font-family: "LibreBaskerville", serif;
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.featuredtitle {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "LibreBaskerville", serif;
  font-size: 1.6em;
  color: black;
  font-weight: 200;
}

.animationOne {
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.animationTwo {
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#animationThree {
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}

@keyframes front {
  0% {
    opacity: 0;
  }
}

@keyframes ease {
  0% {
    display: none;
    opacity: 0;
  }
}

.outputHold {
  padding-top: 3.6em;
}

.inputoutputGrid {
  display: grid;
  grid-template-columns: 320px 4em 4em 4em 4em;
  border: 1px solid var(--frame);
  border-radius: 0.5em;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation-name: front;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.inputoutputGrid>div {
  padding: 1em;
  border-left: 1px solid var(--frame);
  border-bottom: 1px solid var(--frame);
}

.ctaHold {
  border: 1px solid var(--frame);
  border-radius: 0.8em;
  padding: 2em;
  margin-top: 12em;
  margin-bottom: 4em;
}

.smallT {
  font-size: 0.8em;
}

.contentHold {
  display: grid;
  grid-template-columns: 45% auto 45%;
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.two-three {
  grid-area: 1 / 2 / 2 / 4;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 81px;
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

.seven-eight {
  grid-area: 1 / 5 / 2 / 6;
  padding-top: 81px;
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

/*posts*/

.WritingGrid12 {
  display: grid;
  width: 100vw;
  grid-template-columns: 8.25% 140px 140px 50px 648px auto;
}

@media screen and (max-width: 1180px) {
  .WritingGrid12 {
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 1em;
    padding-left: 8.25%;
    padding-right: 8.25%;
  }

  .writingGridHold {
    grid-area: 3 / 1 / 4 / 1;
    padding-top: 4em;
    padding-right: 0em;
    min-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sticky {
    width: 100%;
    position: relative;
    height: auto;
    grid-area: 1 / 1 / 2 / 1;
    padding-top: 0px;
    padding: 1em;
    top: 0;
    z-index: 2;
  }
}


@media screen and (max-width: 900px) {

  #mainhold {
    width: 100vw;
  }

  main {
    width: 100%;
  }

  .WritingGrid12 {
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 1em;
    padding-left: 0;
    padding-right: 0;
  }

  #writingTopMargin {
    margin-top: 1em;
  }

  .imghold {
    grid-area: 1 / 1 / 2 / 1;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: var(--firmament);
  }
  
  .titleGrid {
    grid-area: 2 / 1 / 3 / 1;
    align-self: end;
    padding: 1em;
    padding-bottom: 0em;
  }

  .sticky {
    width: 100%;
    position: relative;
    height: auto;
    grid-area: 1 / 1 / 2 / 1;
    padding-top: 0px;
    padding: 1em;
    top: 0;
    z-index: 2;
  }

  .sideCTA {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    height: auto;
  }

  .seven-eight {
    grid-area: 1 / 1 / 2 / 2;
    padding-right: 1em;
    padding-left: 1em;
  }

  #bottomMargin {
    padding-bottom: 5em;
  }
  
  .writingGridHold {
    grid-area: 3 / 1 / 4 / 1;
    padding-top: 4em;
    padding-right: 0em;
    min-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .textm {
    font-size: 1em;
  }

  .contentHold {
    display: block;
  }

}